@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: Quicksand;
  color: #333;
}

.topbar {
  border-bottom: 1px solid black;
  text-align: center;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gameBlock {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gameBlockRow {
  display: inline-flex;
}

.gameCell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
